

#container
{
height: calc(100vh - 160px);
display: flex;

}
#main
{
background-color: purple;
flex:3;
display: flex;
justify-content: center;
align-items: center;
}
#aside{
  background-color: greenyellow;
  flex:1;
  display: flex;
justify-content: center;
align-items: center;

}



@media screen and (max-width:900px) {
#container{
  flex-direction: column-reverse;
}
}
